# Игнорировать файлы данных CSV
*.csv

# Игнорировать директорию с графиками
/plots/

# Игнорировать кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы настроек IDE
.idea/
.vscode/

# Игнорировать временные файлы редакторов и систем
*.swp
*.swo
*.tmp
*.log
*.bak

# Игнорировать системные файлы macOS
.DS_Store
